h5 {
    color: var(--secondary);
    font-style: italic;
}

b {
    color: var(--secondary);
}

h1,
h6 {
    color: var(--primary);

}

.carousel {
    background-color: var(--border);
}

.btn1 {
    border: none;
    color: var(--primary);
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.btn1:hover {
    background-color: var(--primary);
    color: var(--border);

}

.btn2 {
    border: none;
    color: var(--primary);
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    background-color: white;
    border: 1px solid var(--primary);
}

.btn2:hover {
    background-color: var(--primary);
    color: var(--border)
}





.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 350px;
    margin: 20px auto;
}

.Image {
    margin: 0 auto;
}

.conta {
    position: relative;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
}

.flex-item-left {

    /* padding: 10px; */
    flex: 50%;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
    position: relative;
}

.content {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    font-size: 20px;
    background-color: var(--light);
    color: black;
    z-index: 1;

}

.background-image {
    position: relative;

}

.background-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}

.active {
    color: var(--primary);
}

.ul {
    list-style: none;
    text-decoration: none;
}

select {
    width: 200px;
}

.searh {
    background-color: var(--primary);
}

.mgmt {
    font-size: 50px;
    font-weight: bold;
}